.blog
	div(data-ng-repeat="post in blog | filter:urlFilter")
		.post
			.head
				.title.col-md-12
					a(href="/posts/{{ urlify(post.title) }}#goto").
						{{ post.title || 'Default Title' }}
				.credit.col-md-12.
					{{ post.date || 'fake date' }} by {{ post.author || "Matthew Ellsworth" }}
			.body.col-md-12(data-ng-bind-html="bodyFilter(post)") Loading...
			.col-md-12.alignright
				a.readmore(data-ng-show="post.preview", href="/posts/{{ urlify(post.title) }}#goto") Click here to read more
		.smallline.col-md-12(data-ng-show="!($index === blog.length-1) && !focus")
				.block.circleLogo
					span.glyphicon.glyphicon-cloud
				.block.circleLogo
					span.glyphicon.glyphicon-fire
				.block.circleLogo
					span.glyphicon.glyphicon-globe
