doctype html
html(lang="en")
  head
    title MatthewEllsworth.com
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href= assetURL + 'assets/bundle.css')
  body(data-ng-app="erulabs")
    .container.col-md-12(data-ng-controller="blogController")
      .row.main
        .left.col-md-12.notselectable
          a.block.more(href="/") MatthewEllsworth.com
          span.less.lessoffset.hidden-xs(data-ng-show="!focus") AND I AM A
          .row(data-ng-show="!focus")
          .detail.selectable.hidden-xs email me&nbsp;
            a(href="mailto:matt.ellsworth@matthewellsworth.com") matt.ellsworth@matthewellsworth.com
          #goto.line
            .block.circleLogo
              span.glyphicon.glyphicon-flash
            .block.circleLogo
              span.glyphicon.glyphicon-fire
            .block.circleLogo
              span.glyphicon.glyphicon-dashboard
        .bottom
          .col-md-8.col-md-offset-2
            include blog.jade
        .left.col-md-12.notselectable
          .line
            .block.circleLogo
              span.glyphicon.glyphicon-flash
            .block.circleLogo
              span.glyphicon.glyphicon-heart
            .block.circleLogo
              span.glyphicon.glyphicon-dashboard
    script(type='text/javascript', src= assetURL + 'assets/bundle.js')
