doctype html
html(lang="en")
	head
		title Erulabs.com
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href= assetURL + 'assets/bundle.css')
	body(ng-app="erulabs")
		.container.col-md-12
			.row.main
				.left.col-md-12.notselectable
					a.block.mid(href="/") HI!
					a.block.less(href="/") MY NAME IS
					a.block.more(href="/") SEANDON MOOY
					span.less.lessoffset.hidden-xs AND I AM A
					.detail.hidden-xs.
						DevOps Engineer, Javascript Developer, Cloud Guru, Linux Adminstrator,
						OpenSource Contributor, Game Developer, Fanatical Supporter,
						Occasional Blogger, Wannabe Designer, Shameful Soapboxer, Hapless Hacker and Armchair Activist.
					span.less.lessoffset.hidden-xs OH, AND 
					span.less.lessoffset I MAKE WEB APPLICATIONS
					.detail.selectable.hidden-xs you can contact me at 
						a(href="mailto:seandon.mooy@gmail.com") seandon.mooy@gmail.com
					#goto.line
						.block.circleLogo
							span.glyphicon.glyphicon-flash
						.block.circleLogo
							span.glyphicon.glyphicon-heart
						.block.circleLogo
							span.glyphicon.glyphicon-dashboard
				.right.col-md-8.col-md-offset-2
					include blog.jade
		script(type='text/javascript', src= assetURL + 'assets/bundle.js')