doctype html
html(lang="en")
  head
    title MatthewEllsworth.com
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href= assetURL + 'assets/bundle.css')
  body(data-ng-app="matthewellsworth")
    .container.col-md-12(data-ng-controller="blogController")
      .row.main
        .left.col-md-12.notselectable
          a.block.less(href="/") MY NAME IS
          a.block.more(href="/") MATTHEW ELLSWORTH
          span.less.lessoffset.hidden-xs I AM A
          .row
            .detail.hidden-xs.col-md-8.col-md-offset-2
              div LINUX ADMIN and DEVOPS ENGINEER
              div You can Ask Me Anything
          .detail.selectable.hidden-xs
            a(href="mailto:matt.ellsworth@matthewellsworth.com") MATT.ELLSWORTH@MATTHEWELLSWORTH.COM
          #goto.line
            .block.circleLogo
              span.glyphicon.glyphicon-globe(ng-click="isCollapsed = !isCollapsed")
            .block.circleLogo
              span.glyphicon.glyphicon-hdd(ng-click="flip()")
            .block.circleLogo
              span.glyphicon
                a.glyphicon-tower(ng-href="https://github.com/asdqwex")
        .bottom
          .col-md-8.col-md-offset-2
            include blog.jade
        .left.col-md-12.notselectable
          .line
            .block.circleLogo
              span.glyphicon.glyphicon-tower
            .block.circleLogo
              span.glyphicon.glyphicon-hdd
            .block.circleLogo
              span.glyphicon.glyphicon-globe
      .row
        .foot
          div(collapse="isCollapsed")
            div.well.well-lg
              iframe( src="http://larryng.github.io/coffeescript-repl/", width="100%", height="200")
    script(type='text/javascript', src= assetURL + 'assets/bundle.js')
