doctype html
html(lang="en")
	head
		title SeandonMooy's resume
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href= assetURL + 'assets/bundle.css')
	body(ng-app="erulabs")
		.container.col-md-12
			.row.main.resume
				.left.col-md-12.notselectable.resume
					div.mid Seandon Mooy
					div.less.shortline Linux Operations, Javascript Developer, DevOps engineer
					div.less.shortline seandon.mooy@gmail.com
				.resumebody
					.col-md-10.col-md-offset-1
						h2 Professional Experience
						.chunk.experiences
							.section.experience
								span.title Rackspace 
								span.subtitle - DevOps Engineer II (05/2013 to present)
								.deets
									.item - Built managed and supported multiple high profile client's production environments simultaneously
									.item - Developed scalable and reusable automation solutions using Chef with a team of engineers, collaborated via Git
									.item - Implemented zero-downtime deployments for web-scale applications in various languages within various architectures
									.item - Architected customer environments from scratch for PHP/LAMP, Node.js/MEAN, Java/Tomcat, Rails, Django and Wordpress ecosystems
									.item - Built resilient, redundant and scalable systems using pure cloud, pure dedicated, and hybrid environments using Chef, SaltStack and Ansible
									.item - Collaborated with internal Network Security, Datacenter operations, DBA and Product engineering teams to accomplish time sensitive tasks
									.item - Served as point of technical contact for large &amp; well known organizations including large national relators, movie studios and web startups
									.item - Wrote code to automate tasks within OpenStack (The open cloud platform)
									.item - As part of a mission critical team of just a small handful of engineers, self-managed my time and ensured customer tasks were complete on time
									.item - Built applications from scratch (in Ruby, PHP and Javascript) against undocumented internal APIs to help boost productivity and team efficiency
							.section.experience
								span.title Techtonic Games 
								span.subtitle - SysAdmin/Web developer (09/2012 to 10/2012)
								.deets
									.item - Assesed and improved existing infrastructure (monitoring, statistics, security, phone system)
									.item - Built many webpages from artist designs (from photoshop to the web)
							.section.experience
								span.title Erulabs.com 
								span.subtitle - Owner (2009 - Current)
								.deets
									.item - Developed numerous web applications to client specification
									.item - Manage and delegate varius service-level agreements with local businesses
							.section.experience
								span.title The Okori Group 
								span.subtitle - Programmer (04/2011 to 03/2012)
								.deets
									.item - Implemented features &amp; bug fixes to mission critical applications
									.item - Designed, created and implemented customer communications portal
									.item - Web development from whiteboard to production for GetCocoon.com flagship product
							.section.experience
								span.title KPR Advisors 
								span.subtitle - Programmer &amp; Operations (2007 - 2011)
								.deets
									.item - Creation and installation of custom real estate management software
									.item - Systems and applications management for uptime critical business platform
							.section.experience
								span.title Non-Profit Communications &amp; Computation Syndicate 
								span.subtitle - Operations (2007 - 2011)
								.deets
									.item - Management, installation, and security audit work relating to providing emergency communications to the persecuted peoples of Libya and Syria
									.item - Monitoring and ongoing security-auditing of crucial text and voice communications portals
							.section.experience
								span.title Impulse Internet Services 
								span.subtitle - Linux Systems Administrator (04/14/2007 to 12/04/2009)
								.deets
									.item - Developed and implemented a number of internal applications, including network and systems monitoring, call center visualizations, and tech-support knowledgebase.
									.item - Responsible for mission-critical systems uptime, including 20,000+ user email system.
						h2 Technical Masteries
						.chunk.masteries
							.section
								.title Operating Systems
								.item Linux   - especially Gentoo, Ubuntu, RHEL
								.item Windows - XP, Server03/08, Vista, 7, 8
								.item BSD     - Net, Free, Open



		script(type='text/javascript', src= assetURL + 'assets/bundle.js')
