doctype html
html(lang="en")
	head
		title MatthewEllsworth's resume
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		link(rel="stylesheet", href= assetURL + 'assets/bundle.css')
	body(ng-app="erulabs")
		.container.col-md-12
			.row.main.resume
				.left.col-md-12.notselectable.resume
					div.mid Matthew Ellsworth
					div.less.shortline Linux Operations, Developer, DevOps engineer
					div.less.shortline matt.ellsworth@matthewellsworth.com
				.resumebody
					.col-md-10.col-md-offset-1
						h2 Professional Experience
						.chunk.experiences
							.section.experience
								span.title Rackspace
								span.subtitle - DevOps Engineer (11/2012 to present)
								.deets
									.item - Built managed and supported multiple high profile client's production environments simultaneously
									.item - Developed scalable and reusable automation solutions using Chef with a team of engineers, collaborated via Git
									.item - Implemented zero-downtime deployments for web-scale applications in various languages within various architectures
									.item - Architected customer environments from scratch for PHP/LAMP, Node.js/MEAN, Java/Tomcat, Rails, Django and Wordpress ecosystems
									.item - Built resilient, redundant and scalable systems using pure cloud, pure dedicated, and hybrid environments using Chef, SaltStack and Ansible
									.item - Collaborated with internal Network Security, Datacenter operations, DBA and Product engineering teams to accomplish time sensitive tasks
									.item - Served as point of technical contact for large &amp; well known organizations including large national relators, movie studios and web startups
									.item - Wrote code to automate tasks within OpenStack (The open cloud platform)
									.item - As part of a mission critical team of just a small handful of engineers, self-managed my time and ensured customer tasks were complete on time
									.item - Built applications from scratch (in Ruby, PHP and Javascript) against undocumented internal APIs to help boost productivity and team efficiency
							.section.experience
								span.title Select Staffing
								span.subtitle - Sr. Systems Engineer (03/2011 - 10/2012)
								.deets
									.item - Lead operations of 4 hosting facilities
									.item - Supported diverse development teams both remote and onsite
							.section.experience
								span.title Guident Technologies
								span.subtitle - Owner (03/2009 - 03/2011)
								.deets
									.item - Built VMware and Citrix XenServer clouds
									.item - Implemented and administered Cisco UCS infrastructure
							.section.experience
								span.title Labyrinth Consulting
								span.subtitle - Systems Engineer (02/2008 to 02/2009)
								.deets
									.item - Provided Desktop and Server support for a team of 40 developers
									.item - Provided release management for 55 production application servers, all RHEL
									.item - Implemented monitoring solutions such as Nagios and Cacti
							.section.experience
								span.title Impulse Internet Services
								span.subtitle - systems Administrator (2007 - 2008)
								.deets
									.item - Provided Tier 1 and 2 support for basic ISP service
									.item - Trained new team members
						h2 Technical Masteries
						.chunk.masteries
							.section
								.title Operating Systems
								.item Linux   - especially Gentoo, Ubuntu, RHEL
								.item Windows - XP, Server03/08, Vista, 7, 8
								.item BSD     - Net, Free, Open

		script(type='text/javascript', src= assetURL + 'assets/bundle.js')
