@import "bootstrap/bootstrap.less";
@font-face {
	font-family: Flagship;
	src: url(assets/flagship.otf);
}
@font-face {
	font-family: Adam;
	src: url(assets/adam.otf);
}
html, body {
	font-size: 1em;
	height: 100%;
	background-color: #efefef;
}
.container-fluid {
	height: 100%;
	.main {
		height: 100%;
		.left {
			background-color: #232323;
			font-family: "Adam";
			text-align: right;
			font-size: 5em;
			line-height: 1.1em;
			padding: 0px;
			padding-top: 0px;
			margin: 0px;
			color: #efefef;
			min-height: 100%;
			span, div {
				padding-right: 20px;
			}
			.detail {
				font-family: "Flagship";
				line-height: 1.1em;
				font-size: 0.35em;
			}
			a {
				font-size: 1em;
			}
			.less {
				font-size: 0.4em;
			}
		}
		.right {
			font-family: "Adam";
			color: #232323;
			min-height: 100%;
			padding-top: 20px;
			.blog {
				.post {
					.head {
						height: 2.7em;
						padding-bottom: 0px;
						line-height: 2em;
						font-family: "Flagship";
						width: 100%;
						.title {
							font-size: 2em;
							width: 90%;
							margin: 0px;
							float: left;
						}
						.date {
							font-size: 1em;
							text-align: right;
							width: 10%;
							margin: 0px;
							float: left;
							position: relative;
							top: -2px;
						}
					}
					.body {
						font-family: "Arial";
					}
				}
			}
		}
	}
}
.line {
	border-bottom: 3px solid #efefef;
	margin-top: 22px;
}
.less {
	font-size: 0.5em;
}