@import "bootstrap/bootstrap.less";
@font-face {
	font-family: Flagship;
	src: url(assets/flagship.otf);
}
@font-face {
	font-family: Adam;
	src: url(assets/adam.otf);
}
html, body {
	font-size: 1em;
	height: 100%;
}
body {
	background-color: #232323;
	background: url('/assets/pw_maze_black.png');
}
@keyframes pulsateblue {
	0% { color: #FFFFFF;}
	50% { color: #45CEEF;}
}
@-webkit-keyframes pulsateblue {
	0% { color: #FFFFFF;}
	50% { color: #45CEEF;}
}
@keyframes pulsatered {
	0% { color: #FFFFFF;}
	50% { color: #E65C5C;}
}
@-webkit-keyframes pulsatered {
	0% { color: #FFFFFF;}
	50% { color: #E65C5C;}
}
.circleLogo {
	width: 33%;
	height: 70px;
	z-index: 1;
	padding: 0px !important;
	margin: 0 !important;
	float: left;
	span {
		padding: 20px;
		font-size: 60px;
		top: -10px;
		left: 5px;
		background-color: #232323;
		border-radius: 100%;
	}
	.glyphicon-globe, .glyphicon-cloud, .glyphicon-flash, .glyphicon-dashboard {
		animation: pulsateblue 20s infinite;
		-webkit-animation: pulsateblue 20s infinite;
	}
	.glyphicon-fire, .glyphicon-heart, .glyphicon-heart {
		animation: pulsatered 14s infinite;
		-webkit-animation: pulsatered 14s infinite;
	}
	.glyphicon-heart {
		text-indent: -4px;
		width: 100px;
	}
	//.glyphicon-heart {
	//	animation: pulsatered 4s infinite;
	//	-webkit-animation: pulsatered 4s infinite;
	//}
}
.container {
	height: 100%;
	padding-top: 10px;
	.main {
		height: 100%;
		.left {
			font-family: "Adam";
			text-align: center;
			font-size: 3.8em;
			line-height: 0.7em;
			padding: 0px;
			padding-top: 20px;
			margin: 0px;
			color: #efefef;
			span, div {
			}
			.detail {
				font-family: "Flagship";
				line-height: 1.5em;
				font-size: 0.4em;
				padding-bottom: 10px;
				letter-spacing: 2px;
			}
			a {
				font-size: 1em;
				outline: none;
			}
			.block {
				display: block;
				color: white;
				outline: none;
			}
			a.block:hover {
				text-decoration: none;
				color: white;
				outline: none;
			}
			.less {
				font-size: 0.5em;
				font-family: "Flagship";
				//white-space: nowrap;
			}
			.lessoffset {
				position: relative;
				top: -6px;
			}
		}
		.right {
			font-family: "Adam";
			color: #fff;
			margin-top: 20px;
			.blog {
				padding-top: 30px;
				.post {
					.head {
						padding-bottom: 0px;
						line-height: 2em;
						font-family: "Flagship", "Helvetica","Arial",sans-serif;
						width: 100%;
						.title {
							font-size: 1.9em;
							text-align: left;
							letter-spacing: 1px;
							line-height: 1em;
							a {
								color: #fff !important;
							}
						}
						.credit {
							font-size: 0.7em;
							line-height: 1em;
							font-family: "Arial";
							color: #ccc;
						}
					}
					.body {
						font-family: "Arial";
						padding: 30px;
						padding-top: 10px;
						padding-bottom: 12px;
					}
				}

			}
		}
	}
}
.line {
	padding: 0px !important;
	padding-top: 0px !important;
	border-bottom: 3px solid #232323;
	height: 44px;
	margin-bottom: 60px;
	margin-top: 20px;
}
.smallline {
	padding: 0px !important;
	margin-top: 0px;
	margin-bottom: 80px;
	text-align: center;
	border-bottom: 3px solid #232323;
	height: 11px;
	.circleLogo {
		text-align: center;
		span {
			font-size: 1.4em;
			width: 28px;
			height: 28px;
			text-indent: -11px;
			line-height: 0px;
			text-align: center;
		}
		.glyphicon-fire {
			text-indent: -11px;
			line-height: 0px;
		}
	}
}
.less {
	font-size: 0.3em !important;
	letter-spacing: 1px;
}
.more {
	margin-top: 10px;
	line-height: 1em;
	letter-spacing: 0px;
}
.mid {
	line-height: 1;
	font-size: 1em !important;
	font-family: "Flagship";
}
.notselectable {
	user-select: none !important;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.selectable {
	user-select: all !important;
	-webkit-touch-callout: all !important;
	-webkit-user-select: all !important;
	-khtml-user-select: all !important;
	-moz-user-select: all !important;
	-ms-user-select: all !important;
}